@import url(https://fonts.googleapis.com/css?family=Google+Sans:400,500|Roboto:300,400,400i,500,700&subset=latin,vietnamese,latin-ext,cyrillic,greek,cyrillic-ext,greek-ext);

.title {
    font-family: 'Google Sans', sans-serif;
    text-align: center;
    font-size: 1rem;
}