@import url(https://fonts.googleapis.com/css?family=Google+Sans:400,500|Roboto:300,400,400i,500,700&subset=latin,vietnamese,latin-ext,cyrillic,greek,cyrillic-ext,greek-ext);
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@import "https://unpkg.com/plyr@3/dist/plyr.css"; 

* {
    margin: 0;
    font-family: 'Google Sans', sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 1vw;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: #8d1aeb;
  } 
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(24, 146, 140); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(129, 33, 33); 
  }

.hero {
    background-image: url(https://cdn.discordapp.com/attachments/1051425996454232094/1053609697070026792/image.png);
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 621px) {
    .hero {
        background-image: url(https://cdn.discordapp.com/attachments/1051425996454232094/1053610195667914773/image.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.button {
    font-weight: 500;
}



.heart {
    font-family: 'Segoe UI Emoji', sans-serif;
}

.hero-title {
  background-image: linear-gradient(#ff782b, #ff0000);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

.hero-subtitle {
    font-weight: bold;
}

.second-item-vlist {
    margin-top: -5px;
}

.tutorial {
  width: 80%;
  height: 45vh;
  display: grid;
  place-items: center;
}
